@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --lef-col-width: 33%;
  --dark-green: #002a36;
  --custom-yellow: #e1d71c;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(186deg, #e6f2fa, #f6f9fe);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* NAVBAR USER ICON ARROW CSS */
.dropdown-toggle::after {
  color: white !important;
}

/* CAROUSEL DEFAULT CSS OVERRIDE */
.carousel-indicators {
  display: none !important;
}

.carousel-control-prev {
  /* left: -50px; */
  padding-left: 2%;
  justify-content: start;
}

.carousel-control-next {
  /* right: -50px; */
  padding-right: 2%;
  justify-content: end;
}
