.container {
  margin-top: 4%;
  padding: 0 !important;
  background: #013c4c;
}

.header {
  color: #e1d71c;
  display: inline-block;
  left: 6%;
  padding: 3%;
  position: relative;
}

.contentRow {
  margin-bottom: 5%;
}

.contentHeader {
  color: #e1d71c;
  margin: 0 0 0 10%;
  padding: 3%;
  position: relative;
}

.contentDesc {
  font-size: 1.25rem;
  font-weight: 300;
  justify-content: center;
  justify-items: center;
  line-height: 2rem;
  padding: 2%;
  margin-left: 13%;
  padding-left: 7%;
  color: #fff;
}

.contentImg {
  background-size: cover;
  border-radius: 20px;
  width: 190px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  background: #002a36;
  padding: 0 0 2rem;
}

.contactHeader {
  color: #e1d71c;
  font-size: 20px;
  padding: 1rem 0 2rem;
}

.contactLinksContainer a {
  color: #fff;
  text-decoration: none;
}

.socialBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 59px;
  font-size: 1rem;
  margin: 1rem;
  color: #fff;
  padding: 12px 24px;
}

.socialBtnLogo {
  color: #fff;
  margin-right: 10px;
}

.bgDiscord {
  background-color: #5865f2;
}

.bgWhatsapp {
  background-color: #35d671;
}

@media screen and (max-width: 1024px) {
  .header {
    left: 0;
    padding: 5% 6%;
  }

  .contentImg {
    position: relative;
    /* top: 10px; */
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  .contentImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentDesc {
    line-height: 2.2rem;
    margin-left: 9%;
    width: 70vw;
  }
}

@media screen and (max-width: 900px) {
  .contentHeader {
    left: 0;
    padding: 3% 6%;
  }
  .contentImg {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .socialBtn {
    border-radius: 50%;
    font-size: 0;
    margin: 0;
    padding: 12px;
  }

  .socialBtnLogo {
    margin: 0;
  }
}

@media (min-width: 200px) and (max-width: 426px) {
  .contactHeader {
    font-size: 13px;
  }

  .contentHeader {
    font-size: 24px;
  }

  .contentDesc {
    font-size: 12px;
    line-height: 1.5rem;
  }
}
